@model DotNetAssignment.ViewModels.EditEmployeeDetailsViewModel

@{
    ViewBag.Title = "Change Profile";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Change Profile</h1>
        <form novalidate="novalidate" action="/account/changeprofile" method="post" class="needs-validation">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="txtEmpID">EmpID:</label>
                    <span id="txtEmpID">@Model.EmpID</span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="txtName">Name:</label>
                    <span id="txtName">@Model.FirstName @Model.LastName</span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="txtEmail">Email:</label>
                    @Html.HiddenFor(temp => temp.Email)
                    <span>@Model.Email</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="txtMobile">Mobile:</label>
                    <input type="text" class="form-control" id="txtMobile" placeholder="Mobile" name="Mobile" required="required" pattern="^[789]\d{9}$" value="@Model.Mobile" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid mobile Number.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="txtMobile">Address:</label>
                    <input type="text" class="form-control" id="txtAddress" placeholder="Address" name="Address" required="required" value="@Model.Address" />
                </div>
            </div>

            @Html.ValidationSummary()
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
</div>

<script>

    $("a[href='/account/changeprofile']").attr("id", "active");

    $(document).on("submit", ".needs-validation", validate);
    $(".needs-validation input").blur(validate);
    function validate(event) {
        if ($(".needs-validation")[0].checkValidity() == false) {
            event.preventDefault();
        }
        $(".needs-validation")[0].classList.add("was-validated");
    }
</script>



